html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

h1 {
  font-size: 1.2em;
}

.header {
  margin-left: 0.5em;
  margin-bottom: 0;
}

.subheader {
  margin-left: 1em;
  font-size: 0.7em;
  margin-bottom: 0.5em;
  color: $mid-gray;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 0.5em;
}

.capitalized {
  text-transform: capitalize;
}
